*{
    padding: 0px;
    margin: 0px;
}
#container{
    width: 100%;
    height: 1080px;
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "footer footer footer";
    /* background-color: rgb(54, 54, 170); */
    /* background: linear-gradient(180deg, #369FE8 0%, #85B4EA 60%, #fff 100%); */
    background-image: url("../media/images/bg_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 20px georgia;
    color: #fff;

}

#nav{
    grid-area: nav;
    width: 100%;
    height: 50px; 
    font: 20px georgia;
    /* background-color: rgb(15, 86, 59);  */
}
#nav>ul{
    list-style: none;
}
#nav>ul>li{
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
#nav>ul>li>a{
    text-decoration: none;  
    color: #fff;
}
#nav>ul>li:hover{
    /* background: linear-gradient(180deg, #043b13 0%, #043b13 0%, #043b13 0%); */
    /* background-color: rgb(190, 235, 248); */
    border-bottom: 5px double #f7fbf8;
    /* transition: ease-in-out 0.1s; */
    cursor: pointer;

}

#main{
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* background-color: rgb(255, 255, 255); */
}

#left_content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    /* background-color: rgb(255, 255, 255); */
}
#right_content img{
    border-radius: 50%;
    /* background-color: rgb(255, 255, 255); */
}
#buttons button{
    margin: 40px 0px 0px 40px;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(25, 100, 75);
    color: white;
}